* {
  padding: 0;
  margin: 0;
  color: black;
}
body {
  --yellow: #f2c100;
  --gray-100: #f8f9fc;
  --gray-200: #f1f3f9;
  --gray-300: #dee3ed;
  --gray-400: #c2c9d6;
  --gray-500: #8f96a3;
  --gray-600: #5e636e;
  --gray-700: #2f3237;
  max-width: 1280px;
  margin: 0 auto;
}
h1 {
  font-size: 52px;
}
.content {
  display: flex;
}
.speciality {
  font-size: 22px;
}
.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 46px;
  background-color: var(--gray-300);
  list-style: none;
}
.nav-item a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}
.nav-item a:hover {
  color: #f2c100;
}
.photo {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px var(--gray-400);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.left-side {
  width: 400px;
  background-color: #5e636e;
  height: 100%;
}
.left-side-title {
  padding: 8px 0 8px 0;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-color: var(--gray-400);
  position: relative;
}

.left-side-list {
  padding: 0 30px 0 30px;
  list-style: none;
}
.left-side-item {
  color: white;
  font-size: 16px;
  padding-top: 10px;
}
.contacts {
  padding-top: 40px;
}
.education {
  padding-top: 40px;
}
.right-side {
  width: 100%;
}
.name {
  padding: 120px 60px;
  width: 200px;
}
.right-side-title {
  padding: 8px 0 8px 0;
  color: white;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-left: 50px;
  background-color: var(--gray-700);
  position: relative;
}
.right-side-title::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 20px;
  height: 43.5px;
  background-color: #f2c100;
}
.section-info {
  padding: 50px 100px;
  font-size: 18px;
}
.section-info li {
  padding: 10px 0 0 10px;
}
.about-me-info {
  line-height: 30px;
}
